.form-busca {
    margin: 40px 0;
    display: block;

    .flex-container {
        display: flex;
        align-items: center;
        gap: 12px;
        margin: 16px 0;
    }

    .mat-button-toggle-checked {
        background-color: #F7F2FA;
    }

    .mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled) {
        background-color: transparent;
        border: 1px solid;
    }

    mat-chip {
        .inner {
            overflow: visible;
            display: flex;
            align-items: center;
            gap: 8px;
            cursor: pointer;
        }
    }

    h2 {
        font-size: 32px;
        margin-bottom: 20px;
    }
}
