<section class="modal">
  <h1 mat-dialog-title>Viajante</h1>
  <div mat-dialog-content>
    <div class="selecao-idade">
      <app-seletor-passageiro 
        label="Adulto" 
        legenda="(Acima de 12 anos)" 
        [formControl]="formBuscaService.obterControle('adultos')"
      />
      <app-seletor-passageiro 
        label="Crianças" 
        legenda="(Entre 2 e 11 anos)" 
        [formControl]="formBuscaService.obterControle('criancas')"
      />
      <app-seletor-passageiro 
        label="Bebês" 
        legenda="(Até 2 anos)" 
        [formControl]="formBuscaService.obterControle('bebes')"
      />
    </div>
    <div class="selecao-categoria">
      <p><strong>Categoria</strong></p>
      <mat-chip-listbox aria-label="Seleção de passagens">
        <mat-chip-option 
          *ngFor="let item of tipos" 
          [value]="item" 
          [selected]="formBuscaService.formBusca.get('tipo')?.value == item"
          (selectionChange)="selecionarTipo($event, item)"
        >
          {{ item }}
        </mat-chip-option>
      </mat-chip-listbox>
    </div>
  </div>
  <div mat-dialog-actions class="modal-actions">
    <button color="primary" mat-flat-button mat-dialog-close>BUSCAR</button>
  </div>
</section>

